---
import Nav from "@/components/navigation/Nav";
import Footer from "@/components/Footer";
import BaseHead from "@/layouts/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/data/consts";
import "@/styles/global.css";
import { GoogleAnalytics } from "@/components/common/GoogleAnalytic";
import { Toaster } from "@/components/ui/sonner";
import ChristmasSnow from "@/components/common/ChristmasSnow";
import Avatar from "/public/avatar.png";

interface Props {
  bodyClass?: string;
  title?: string;
  specialDescription?: string;
}

const GA_ID = "G-P8G1Q6J8D8";
const { bodyClass, title, specialDescription } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={title ? `${title} | ${SITE_TITLE}` : SITE_TITLE}
      description={specialDescription ? specialDescription : SITE_DESCRIPTION}
      keywords="portfolio, zhenhao yang, 杨镇颢, allen yang, web developer, software engineer, full-stack developer, astro, javascript, typescript, react, nodejs, web development, programming, montreal, canada, quebec, personal website, personal portfolio, blog, projects, about me, contact"
      image={Avatar}
    />

    <slot name="customCss" />
  </head>

  <body class={`min-h-screen flex flex-col ${bodyClass}`}>
    <ChristmasSnow client:load />
    <GoogleAnalytics gtagId={GA_ID} client:only="react" />
    <Toaster client:load />

    <Nav currentPath={Astro.url.pathname} client:load />

    <main class="flex-1 flex flex-col">
      <slot />
    </main>

    <Footer />
  </body>
</html>
